workflow.json
{
  "name": "Micra Sales Intel",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Micra Sales Intel",
        "formDescription": "Paste a company URL and lead. Get a full McKinsey-grade sales brief in under a minute.",
        "formFields": {
          "values": [
            { "fieldLabel": "Lead name", "requiredField": true },
            { "fieldLabel": "Company", "requiredField": true },
            { "fieldLabel": "Website or domain", "requiredField": false },
            { "fieldLabel": "Role or title", "requiredField": false },
            { "fieldLabel": "Any extra context", "requiredField": false }
          ]
        },
        "responseMode": "responseNode",
        "options": {},
        "path": "micra-sales-intel"
      },
      "id": "form-in",
      "name": "Lead Intake Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "micra-lead-research"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\": \"openai/gpt-oss-120b\", \"max_tokens\": 4096, \"temperature\": 0.2, \"messages\": [{\"role\": \"system\", \"content\": \"You are a senior sales strategist preparing executive-grade pre-meeting intelligence. CRITICAL HONESTY RULE: you have NO internet access and cannot verify anything. Do NOT state specific funding rounds, dollar amounts, valuations, dates, executive names, headcounts, or product launches as fact unless they are extremely well-established and stable. If unsure, write 'Unknown \\u2014 verify' and tell the rep exactly what to look up. NEVER claim information is 'verified' and NEVER cite sources (press releases, TechCrunch, LinkedIn, etc.) \\u2014 you cannot access them. Inventing specifics a rep repeats to a prospect will destroy their credibility. Be sharp and specific about STRATEGY, ANGLES, and QUESTIONS (reasoned inferences \\u2014 label them '(inferred)'), but scrupulously honest about FACTS you don't have. Clean markdown, clear headers, emoji anchors. Every line earns its place.\"}, {\"role\": \"user\", \"content\": \"Prepare a complete Sales Intelligence brief.\\n\\nCompany/URL: {{ $json['Website or domain'] }}\\nLead name: {{ $json['Lead name'] }}\\nCompany: {{ $json['Company'] }}\\nRole/title: {{ $json['Role or title'] }}\\nExtra context: {{ $json['Any extra context'] }}\\n\\nProduce the brief in EXACTLY this order with markdown headers: 1. Executive Summary; 2. Buying Signals (3); 3. Personalized Ice Breakers (5); 4. Discovery Questions (5); 5. Top Business Risks; 6. Recent Company News (say 'Unknown \\u2014 verify' \\u2014 do NOT invent news); 7. Decision Maker Summary; 8. AI Cold Email (subject+body, under 120 words); 9. LinkedIn DM (under 60 words); 10. 30-Second Meeting Brief (bulleted); 11. CRM Summary (3-5 bullets); 12. Next Best Action. End with: Prepared by Micra Sales Intel.\"}]}",
        "options": { "timeout": 120000 },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth"
      },
      "id": "llm",
      "name": "Generate Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "report",
              "name": "report",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract",
      "name": "Extract Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.report }}",
        "options": {}
      },
      "id": "respond",
      "name": "Show Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Lead Intake Form": { "main": [[{ "node": "Generate Research", "type": "main", "index": 0 }]] },
    "Generate Research": { "main": [[{ "node": "Extract Report", "type": "main", "index": 0 }]] },
    "Extract Report": { "main": [[{ "node": "Show Report", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["micra", "product", "lead-research"]
}
